.accessories__container {
    min-width: 142px;
    margin-right: 7px;
    position: relative;
}

.accessories__container:last-child {
    margin-right: 0;
}

@media (min-width: 720px) {
    .accessories__container {
        min-width: 325px;
        margin-right: 25px;
    }
}

@media (min-width: 1000px) {
    .accessories__container {
        min-width: 222px;
        margin-right: 20;
    }
}