.services__container {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px rgba(0, 0, 0, .1) solid;
    margin-bottom: 30px;
}

.services__container:last-child {
    padding: 0;
    border: 0;
    margin: 0;
}

@media(min-width: 720px) {
    .services__container {
        flex-direction: column;
        align-items: center;
        flex-shrink: 1;
        padding: 0;
        border: 0;
        margin: 0 20px 40px 0;
    }

    .services__container:nth-child(3) {
        margin-right: 0;
    }

    .services__container:last-child {
        margin-bottom: 40px;
    }
}

@media (min-width: 949px) {
    .services__container:nth-child(3) {
        margin-right: 20px;
    }

    .services__container:nth-child(4) {
        margin-right: 0;
    }
}

@media (min-width: 1000px) {
    .services__container {
        margin-bottom: 50px;
    }

    .services__container:nth-child(3) {
        margin-right: 0;
    }

    .services__container:nth-child(4) {
        margin-right: 20px;
    }

    .services__container:last-child {
        margin-bottom: 50px;
    }
}