.header {
    height: 74px;
    max-width: 1000px;
    min-width: 288px;
    position: relative;
    box-sizing: border-box;
    margin: auto;
}

@media (min-width: 720px) {
    .header {
        display: flex;
        height: 60px;
        border-bottom: 1px solid rgb(0, 0, 0, .1);
    }
}