.services__containers {
    min-width: 290px;
    margin:0 15px 100px;
}

@media (min-width: 720px) {
    .services__containers {
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 60px;
        display: flex;
        flex-wrap: wrap;
    }
}

@media (min-width: 1000px) {
    .services__containers {
        margin-bottom: 50px;
    }
}