.accessories__cards {
    min-width: 290px;
    margin: 0 15px;
}

@media (min-width: 720px) {
    .accessories__cards {
        display: flex;
        margin: 0 25px;
    }
}

@media (min-width: 1000px) {
    .accessories__cards {
        /* grid-area: cards; */
        margin-right: 20px;
        min-width: 464px;
    }
}