.design {
    min-width: 290px;
}

@media (min-width: 720px) {
    .design {
        -ms-display: grid;
        display: grid;
        -ms-grid-template-areas:
            "title title"
            "sreen corpus"
            "cards cards";
        grid-template-areas:
            "title title"
            "sreen corpus"
            "cards cards";
        /* column-gap: 20px; */
    }
}

@media (min-width: 1000px) {
    .design {
        -ms-grid-template-areas:
            "title title title title"
            "sreen corpus cards cards";
        grid-template-areas:
            "title title title title"
            "sreen corpus cards cards";
    }
}