.design__cards {
    display: flex;
    min-width: 290px;
    margin: 40px 15px;
}

@media (min-width: 720px) {
    .design__cards {
        -ms-grid-area: cards;
        grid-area: cards;
        margin: 50px 25px 60px;
    }
}

@media (min-width: 1000px) {
    .design__cards {
        margin: 0 0 0 0;
    }
}